# Basic Python Types

This lesson covers:

* Inputting scalars and strings
* Lists
* Tuples
* Dictionaries

## Problem: Input scalar floating point and integers

1. Create a variable called `scalar_float` containing $\pi$ to 4 digits.
2. Create a variable called `scalar_int` containing 31415. 
3. Print each value using the `print` function.

In [2]:
import math

In [3]:
scalar_float=round(math.pi,4) #float-numbers with decimal points

In [4]:
scalar_int=31415 #int-whole numbers

In [5]:
print("Value of scalar_float:", scalar_float)
print("Value of scalar_int:", scalar_int)

Value of scalar_float: 3.1416
Value of scalar_int: 31415

## Problem: Create a string and an f-string

1. Create a variable called `a_string` containing `This is a string`
2. Create a f-string the prints `The value of scalar_float is 3.1415` using
   the variable created in the previous step
3. Create two string, `first` containing `String concatenation` and the
   second containing ` is like addition`, and join the two using `+` to produce
   `String concatenation is like addition`.

In [6]:
a_string="This is a string"

In [7]:
f_string = f"The Value of scalar_float is {scalar_float}"
print(f_string)

The Value of scalar_float is 3.1416

In [8]:
first_string = "String concatenation"
second_string = " is like addition"
result_string = first_string + second_string
print(result_string)

String concatenation is like addition

## Problem: Create a list

1. Create a list containing `scalar_float` and `scalar_int`
2. Add `a_string` to the list.
3. Select the second element from the list 
4. Select the the lst two elements of the list

In [9]:
#In this list, 3.14, 1.618, and 2.718 are scalar_float values (floating-point numbers), while 42 and 7 are scalar_int values (integers). You can add more values of these types to the list as needed.
#float is
m_list=[2.23, 79, 1.618, 9, 2.67,] #list containing scalar_float and scalar_int.
a_string = "color"
m_list.append(a_string)
print(m_list)

[2.23, 79, 1.618, 9, 2.67, 'color']

In [10]:
selected_items=m_list[2] #selecting second element from the list 
print(selected_items)

1.618

In [11]:
selected_items=m_list[0:2]
print(selected_items)

[2.23, 79]

## Problem: Create a list of lists

1. Create a list containing the two lists `[1, 2, 3]` and `[4, 5, 6]`
2. Select the element 5 from the nested list

In [12]:
r_list = [[1, 2, 3], [4, 5, 6]]

In [13]:
r_list = [[1, 2, 3], [4, 5, 6]]
element = r_list[1][1]  # Access the second list (index 1) and then the second element (index 1) within that list.
print(element)  # This will output: 5

5

## Problem: Create a tuple

1. Create a tuple containing the values (1, 2.0, "c")
2. Select the element "c" from the tuple

In [14]:
y=(1,2.0,"c") #tuple

In [15]:
element=y[2]
print(element)

c

## Problem: Convert a list to a tuple and back

1. Convert the list-of-lists created to a tuple-of-tuples
2. Convert the tuple-of-tuples back to a list of lists

In [34]:
list_of_lists = [[8, 7], [9, 9], [5, 5]] #lists
#convert list_of_lists to tuple_of_tuples
tuple_of_tuples = tuple(tuple(inner_list) for inner_list in list_of_lists)

print(tuple_of_tuples)

((8, 7), (9, 9), (5, 5))

In [35]:
tuple_of_tuples = ((8, 7), (9, 9), (5, 5)) #tuples

# Convert to a list of lists
list_of_lists = [list(inner_tuple) for inner_tuple in tuple_of_tuples]

print(list_of_lists)

[[8, 7], [9, 9], [5, 5]]

## Problem: Create a dictionary

1. Create a dictionary containing the key-value pairs `"float"` and 3.1415,
   `"int"` and 31415, and `"string"` and `"three-point-one-four-one-five"`.

In [36]:
my_dict = {
    "float": 3.1415,
    "int": 31415,
    "string": "three_point_one_four_one_five"
}

print(my_dict)

{'float': 3.1415, 'int': 31415, 'string': 'three_point_one_four_one_five'}

## Problem: Lookup and Change a value

1. Look up the value of `"float"`.
2. Change the value of `"float"` to `22 / 7`.

In [37]:
my_dict = {
    "float": 3.1415,
    "int": 31415,
    "string": "three_point_one_four_one_five"
}

# Look up the value associated with the key "float"
value = my_dict["float"]

print(value)

3.1415

In [38]:
my_dict = {
    "float": 3.1415,
    "int": 31415,
    "string": "three_point_one_four_one_five"
}

# Change the value associated with the key "float" to 22/7
my_dict["float"] = 22/7

print(my_dict)

{'float': 3.142857142857143, 'int': 31415, 'string': 'three_point_one_four_one_five'}

## Problem: Add and remove a key 

1. Add the new key "better_float" with the value 3.141592.
2. Remove the key "float" and its value.

In [39]:
my_dict = {
    "float": 3.1415,
    "int": 31415,
    "string": "three_point_one_four_one_five"
}

# Add the new key-value pair "better_float" with the value 3.141592
my_dict["better_float"] = 3.141592

print(my_dict)

{'float': 3.1415, 'int': 31415, 'string': 'three_point_one_four_one_five', 'better_float': 3.141592}

In [40]:
my_dict = {
    "float": 3.1415,
    "int": 31415,
    "string": "three_point_one_four_one_five",
    "better_float": 3.141592
}

# Remove the key "float" and its value
my_dict.pop("float")

print(my_dict)

{'int': 31415, 'string': 'three_point_one_four_one_five', 'better_float': 3.141592}

In [42]:
#Using the del statement:

#python
#Copy code
my_dict = {
    "float": 3.1415,
    "int": 31415,
    "string": "three_point_one_four_one_five",
    "better_float": 3.141592
}

# Remove the key "float" and its value
del my_dict["float"]

print(my_dict)

{'int': 31415, 'string': 'three_point_one_four_one_five', 'better_float': 3.141592}

## Exercises

### Exercise: Manipulating lists

1. Create an empty list called `lst`
2. Add the elements `9`, `"Eight"` and `7.0` (in order) to the list.
3. Extend the list with the list `["Six", 5, 4.0]` using `extend`
4. Select first 4 elements of `lst`
5. Select last 3 elements of `lst`

In [17]:
first=[] #empty list

In [18]:
first.append('eight') #.aapend is adding something to a list
first.append(7.0)
first.append(9)

In [19]:
first=[9,"eight",7.0] #etend the list 
second=["Six",5,4.0]
first.extend(second)
print(first)

[9, 'eight', 7.0, 'Six', 5, 4.0]

In [20]:
first=[9,"Eight",7.0,"Six",5,4.0] 
print(first)

[9, 'Eight', 7.0, 'Six', 5, 4.0]

In [21]:
selected_items=first[0:4] #selecting first 4 items
print(selected_items)

[9, 'Eight', 7.0, 'Six']

In [22]:
first = [9, 'eight', 7.0, 'Six', 5, 4.0]  #selecting last 3 items
selected_items=first[-3:]
print(selected_items)

['Six', 5, 4.0]

### Exercise: Dictionary Manipulation

1. Create a empty dictionary called `dct`
2. Add the pairs "apple" and 1, "banana" and 2.0, and "cherry" and "iii"
3. Replace the value of "apple" with "I"
4. Remove the entry for "banana"
5. Add an entry "date" with the value 4

In [23]:
dct={} #creating a dictionary

In [24]:
dct["apple"]=1 #adding pairs
dct["banana"]=2.0
dct["cherry"]="iii"

In [25]:
{ #adding pairs
    "apple":1,
    "banana":2.0,
    "cherry":"iii",
}

{'apple': 1, 'banana': 2.0, 'cherry': 'iii'}

In [26]:
dct["apple"] = "I"

In [27]:
{ #replacing the calue of apple with 'I'
    'apple': 'I',
      'banana': 2.0,
        'cherry': 'iii'
        
}

{'apple': 'I', 'banana': 2.0, 'cherry': 'iii'}

In [28]:
#REMOVING ENTRY FOR "banana"
del dct["banana"]

In [29]:
{
    'apple': 'I',
      'cherry': 'iii'}

{'apple': 'I', 'cherry': 'iii'}

In [30]:
#add an entry "date" with the value 4
dct ["date"]=4

In [31]:
{
    'apple': 'I',
      'cherry': 'iii', 
      'date': 4
}

{'apple': 'I', 'cherry': 'iii', 'date': 4}

### Exercise: Directly create a Dictionary

Using the final verion of `dct` from the previous exercise:

1. Directly initialize a new dictionary called `other_dct`.
2. Use an f-string to print the values associated with each key.

**Hint** You must use both types of quotes. For example, to access a value in
an f-string.

```python
f"{other_dct['apple']}"
```

In [32]:
other_dct = {'apple': 'I', 'cherry': 'iii', 'date': 4}

In [33]:
key="apple"
print(f"The value associated with the key '{key}' is: {other_dct[key]}")

The value associated with the key 'apple' is: I

### Exercise: Tuple Manipulation

1. Create a tuple `tpl` containing 100 and 4
2. Convert to a list, add the elements 101 and 5
3. Convert back toa tuple

In [43]:
tpl = (100, 4)

In [44]:
# Initial tuple
tpl = (100, 4)

# Convert the tuple to a list
lst = list(tpl)

# Add elements 101 and 5 to the list
lst.append(101)
lst.append(5)

print(lst)

[100, 4, 101, 5]

In [45]:
# List with elements 100, 4, 101, and 5
lst = [100, 4, 101, 5]

# Convert the list back to a tuple
tpl = tuple(lst)

print(tpl)

(100, 4, 101, 5)